[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BlythStillCasellaCI"]
	path = BlythStillCasellaCI
	url = https://github.com/cran/BlythStillCasellaCI
